@{
    ViewBag.Title = "Articles_Motivation";
}


<section class="articlesFit">
    <table>
        <tbody>
            <tr>
                <td><a title="article1" href="#" target="_blank"><img class="image" src="#" alt="art11" width="200" height="170" />Статья 1</a></td>
                <td><a title="article12" href="#" target="_blank"><img class="image" src="#" alt="art12" width="200" height="170" />Статья 2</a></td>
                <td><a title="article13" href="#" target="_blank"><img class="image" src="#" alt="art13" width="200" height="170" />Статья 3</a></td>                             
            </tr>
            <tr><td><a title="Упражнение 21" href="#" target="_blank"><img class="image" src="#" alt="ex1" width="200" height="170" />Статья 6</a></td>
                <td><a title="Упражнение 22" href="#" target="_blank"><img class="image" src="#" alt="ex2" width="200" height="170" />Статья 7</a></td>
                <td><a title="Упражнение 23" href="#" target="_blank"><img class="image" src="#" alt="ex3" width="200" height="170" />Статья 8</a></td>
            </tr>
            <tr>
                <td><a title="Упражнение 31" href="#" target="_blank"><img class="image" src="#" alt="ex1" width="200" height="170" />Статья 11</a></td>
                <td><a title="Упражнение 32" href="#" target="_blank"><img class="image" src="#" alt="ex2" width="200" height="170" />Статья 12</a></td>
                <td><a title="Упражнение 33" href="#" target="_blank"><img class="image" src="#" alt="ex3" width="200" height="170" />Статья 13</a></td>                
            </tr>
            <tr>
                <td><a title="Упражнение 41" href="#" target="_blank"><img class="image" src="#" alt="ex1" width="200" height="170" />Статья 16</a></td>
                <td><a title="Упражнение 42" href="#" target="_blank"><img class="image" src="#" alt="ex2" width="200" height="170" />Статья 17</a></td>
                <td><a title="Упражнение 43" href="#" target="_blank"><img class="image" src="#" alt="ex3" width="200" height="170" />Статья 18</a></td>                
            </tr>
            <tr>
                <td><a title="Упражнение 51" href="#" target="_blank"><img class="image" src="#" alt="ex1" width="200" height="170" />Статья 21</a></td>
                <td><a title="Упражнение 52" href="#" target="_blank"><img class="image" src="#" alt="ex2" width="200" height="170" />Статья 22</a></td>
                <td><a title="Упражнение 53" href="#" target="_blank"><img class="image" src="#" alt="ex3" width="200" height="170" />Статья 23</a></td>               
            </tr>           
        </tbody>
    </table>
</section>
