@{
    ViewBag.Title = "Бег";
}

<div>
    <ul class="MenuRunning">
        <li><a href="@Url.Action("TrainingRunning", "TrainingPages")">Правила бега</a></li>
        <li><a href="@Url.Action("#", "TrainingPages")">Составь программу</a></li>
        <li><a href="@Url.Action("#", "TrainingPages")">Мои маршруты</a></li>
        <li><a href="@Url.Action("Articles_Training", "Article")">Статьи</a></li>
    </ul>
</div>